<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>RouterTest2.html</title>
	<link rel="stylesheet" href="css/bootstrap.css"/>
	<script src="js/angular.min.js"></script>
	<script src="js/angular-route.min.js"></script>
	<script>
	//angular 모듈 만들기
	var myApp = angular.module("myApp",["ngRoute"]);
	// myApp 모듈 전역 설정
	myApp.config(function($routeProvider){
		$routeProvider
		.when("/home",{templateUrl:"views2/home.html"})
		.when("/game",{templateUrl:"views2/game.html"})
		.when("/contacts",{
			templateUrl:"views2/contacts.html",
			controller:"contactsCtrl"
		})
		.when("/user/:userId",{
			templateUrl:"views2/user_detail.html",
			controller:"userDetailCtrl"
		})
		.otherwise({redirectTo:"/home"});
	});
	myApp.controller("navCtrl",["$scope",function($scope){
		$scope.activeMenu="home";
		$scope.setActive=function(menu){
			console.log(menu);
			$scope.activeMenu=menu;
		}
	}]);
	// 연락처 정보 컨트롤러
	myApp.controller("contactsCtrl",["$scope","$http","$location",function($scope,$http,$location){
		// 출력할 정보를 ajax 통신을 통해서 받아온다.
		$http({
			url:"/userList",
			method:"GET"
		}).success(function(data){
			$scope.userList = data;
		});
		$scope.goDetail = function(userId){
			$location.url("/user/"+userId);
		};
	}]);
	//회원정보 자세히보기 컨트롤러 
	myApp.controller("userDetailCtrl",["$scope","$http","$routeParams","$location", function($scope, $http, $routeParams, $location){
		//$routeParams 를 이용해서 전달된 파라미터 추출
		// "/user/:userId"
		var id = $routeParams.userId;
		//var test = $routeParams.test;
		console.log(id);
		//user 모델 
		$scope.user = {};
		//$http 서비스를 이용해서 자세한 회원정보 요청 
		var url = "/getUser?userId="+id;
		$http({
			url:url,
			method:"GET"
		}).success(function(data){
			//data => {"num":0,"name":"xxx",phone:"xx",imgSrc:"xxx"}
			$scope.user = data;
		});
		//뒤로 가기 버튼을 눌렀을때 
		$scope.goBack = function(){
			$location.url("/contacts");
		};
	}]);
	</script>
</head>
<body>
<div class="container">
	<div class="page-header">
		<h3>Angular js <small class="label label-primary">Router Test</small></h3>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-4">
			<ul ng-controller="navCtrl" class="nav nav-pills nav-stacked">
				<li ng-class="{'active':activeMenu=='home'}">
					<a ng-click="setActive('home')" href="#home">Home</a></li>
				<li ng-class="{'active':activeMenu=='game'}">
					<a ng-click="setActive('game')" href="#game">Game</a></li>
				<li ng-class="{'active':activeMenu=='contacts'}">
					<a ng-click="setActive('contacts')" href="#contacts">Contacts</a></li>
			</ul>
		</div>
		<div class="col-xs-12 col-sm-8">
			<ng-view></ng-view>
		</div>
	</div>
</div>	
</body>
</html>