<!DOCTYPE html>
<html lang="en" ng-app>
<head>
	<meta charset="UTF-8">
	<title>helloAngular.html</title>
	
</head>
<body>
	Hello, {{'Angular'+'Js!'}}<br/>
	10+10={{10+10}}<br/>
	<input type="text" ng-model="msg"/>
	<p>{{msg}}</p>
	<ul>
		<li ng-repeat="tmp in [10,20,30,40,50]">{{tmp}}</li>
	</ul>
	<input type="checkbox" ng-model="isChecked"/>
	<strong>{{isChecked}}</strong>
	<script src="js/angular.min.js"></script>
	<script>
		//var app = angular.module('testApp',[]);

	</script>
</body>
</html>